<h1>
  Current User List Below
</h1>
  <ul>
    <% @users.each do |user| %>
    <li>
      User ID: <%= user.id %>
      Alias: <%= user.alias %>
      Email: <%= user.email %>
    </li>
    <% end %>
  </ul>
<h2>
  <%= link_to "Return to User Profile", "/users/#{current_user.id}" %>
</h2>
